div {
    border-radius: 25px;
    border-color: #141526;
    border-width: 50px;
}
.top {
    background-color: #141526;
    padding-top: 150px;
}
.profile {
    background-color: #1a1829;
    position: relative;
    top: 50px;
    padding: 100px 0px;
}
.skills {
    background-color: #1a1829;
    position: relative;
    top: 100px;
}
.skill-row {
    display: inline-block;
    width: 70%;
    margin: 100px 0px;
    text-align: left;
}
.contact-me {
    background-color: #1a1829;
    position: relative;
    top: 150px;
}
.bottom {
    border-radius: 25px;
    background-color: #141526;
        position: relative;
    top: 200px;
}
body {
    background-color: #141526;
    text-align: center;
    margin: 0px 50px;
    font-weight: normal;
    font-style: normal;
}
h1 {
    margin-top: 0px;
    font-family: 'pardone';
    src: url('pardone.eot'),
         url('pardone.eot?#iefix') format('embedded-opentype'),
         url('Pardone.svg#Pardone') format('svg'),
         url('Pardone.ttf') format('truetype'),
         url('Pardone.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  color: #e3997c;
  font-size: 6.25rem;
}
.top-subheading {
    color: #e3997c;
    padding-bottom: 50px;
}
h2 {
  font-family: 'VastinePersonalUse';
  src: url('VastinePersonalUse.eot');
  src: url('VastinePersonalUse.eot?#iefix') format('embedded-opentype'),
       url('VastinePersonalUse.svg#VastinePersonalUse') format('svg'),
       url('VastinePersonalUse.ttf') format('truetype'),
       url('VastinePersonalUse.woff') format('woff');
  font-weight: heavy;
  font-style: normal;
  font-size: 20px;
  color: #2a2936;
  text-align: left;
  padding: 20px;
}
.always {
    padding-top: 40px;
}
h3 {
    color: #f2ceaf;
    font-family: 'Bolderist-Regular';
    src: url('Bolderist-Regular.eot');
    src: url('Bolderist-Regular.eot?#iefix') format('embedded-opentype'),
           url('Bolderist-Regular.svg#Bolderist-Regular') format('svg'),
           url('Bolderist-Regular.ttf') format('truetype'),
           url('Bolderist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 5rem;
    margin: 0px 30px;
}
a {
    color: #7e3748;
    font-family: 'Clockwise-Light';
    src: url('Clockwise-Light.eot');
    src: url('Clockwise-Light.eot?#iefix') format('embedded-opentype'),
       url('Clockwise-Light.svg#Clockwise-Light') format('svg'),
       url('Clockwise-Light.ttf') format('truetype'),
       url('Clockwise-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding: 0px 10px;
}
p {
      font-family: 'Clockwise-Light';
  src: url('Clockwise-Light.eot');
  src: url('Clockwise-Light.eot?#iefix') format('embedded-opentype'),
       url('Clockwise-Light.svg#Clockwise-Light') format('svg'),
       url('Clockwise-Light.ttf') format('truetype'),
       url('Clockwise-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  color: #e29475;
  line-height: 2rem;
  padding-bottom: 50px;
}
.btn {
    color: #1a1829;
    font-size: 150px;
    background: url("email.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn:hover {
    font-size: 150px;
    background-image: url("email-hover.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.art {
    height: 500px;
    width: 700px;
}
.pfp {
    height: 150px;
    width: 150px;
    padding-bottom: 30px;
}
.computer {
    width: 25%;
    float: left;
    padding-right: 80px;
}
.brush {
    width: 25%;
    float: left;
    padding-right: 80px;

}
.email{
 width: 4%;
}
@font-face {
  font-family: 'pardone';
  src: url('pardone.eot'),
       url('pardone.eot?#iefix') format('embedded-opentype'),
       url('Pardone.svg#Pardone') format('svg'),
       url('Pardone.ttf') format('truetype'),
       url('Pardone.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clockwise-Light';
  src: url('Clockwise-Light.eot');
  src: url('Clockwise-Light.eot?#iefix') format('embedded-opentype'),
       url('Clockwise-Light.svg#Clockwise-Light') format('svg'),
       url('Clockwise-Light.ttf') format('truetype'),
       url('Clockwise-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bolderist-Regular';
  src: url('Bolderist-Regular.eot');
  src: url('Bolderist-Regular.eot?#iefix') format('embedded-opentype'),
       url('Bolderist-Regular.svg#Bolderist-Regular') format('svg'),
       url('Bolderist-Regular.ttf') format('truetype'),
       url('Bolderist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VastinePersonalUse';
  src: url('VastinePersonalUse.eot');
  src: url('VastinePersonalUse.eot?#iefix') format('embedded-opentype'),
       url('VastinePersonalUse.svg#VastinePersonalUse') format('svg'),
       url('VastinePersonalUse.ttf') format('truetype'),
       url('VastinePersonalUse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
